.floor17-page-layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 64px 1fr;
	height: 100vh;
	background-image: url("../../assets/images/backgrounds/17_floor.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.floor17-page-container {
		max-width: 100%;
		width: 100%;
		min-height: auto;
		height: 100%;
		padding: 10px 15px 10px;
		overflow-y: scroll;
		scrollbar-width: none;

		.floor17-page {
			position: relative;
			height: 100%;
		}
	}
}
