$color-white: #ffffff;
$color-white-transparent: #ffffff00;
$color-black: #000000;
$secondary-main: #00d7bd;

$background1: #a39cffcc;
$background2: #ffffffcc;
$font: #531a56;

$pen-color: #003b59;

$blur-black: #161616;

$box-shadow-black: #00000080;
$box-shadow-grey: #4e4e4f;
$box-shadow-grey-transparent: #42424280;

$elevator-btn-orange: #ff9100;
$elevator-btn-yellow: #fffb00;
$elevator-bg-grey1: #ccc0c0;
$elevator-bg-grey2: #9c9c9c;
$elevator-bg-grey3: #575757;
$elevator-bg-grey4: #383838;
$elevator-color-grey: #757575;
